// app global css in SCSS form

.bg-primary-gradient {
    background: radial-gradient(circle at top right, $grey-1, $primary);
}

.bg-negative-gradient {
    background: radial-gradient(circle at center left, $red-6, $negative);
}

.bg-positive-gradient {
    background: radial-gradient(circle at center right, $light-green, $positive);
}

.bg-warning-gradient {
    background: radial-gradient(circle at center top, $amber, $warning);
}

.spin {
  animation: spin 2s linear infinite;
}


/* keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}